* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

nav {
    background-color: cadetblue;
    min-width: 100%;
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 20px;

    ul {
        align-items: center;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;

        li {
            a {
                color: rgb(249, 240, 229);
                text-decoration: none;
                font-weight: 600;
                transition: all 200ms;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

    }
}

#div {
    min-width: 80%;
    min-height: 500px;
    background-color: brown;
    background-image: url('https://th.bing.com/th/id/OIP.ng_GPaAiEtBb_Ezok8LE1AHaEo?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

#div {
    min-width: 60%;
    min-height: 400px;
background-color: cadetblue;
background-image: url('https://th.bing.com/th/id/OIP.Bv2OF0Jq4cK_HOv3WjUquAHaEK?rs=1&pid=ImgDetMain');
background-repeat:repeat-x ;
background-size: cover;
background-position: bottom left;
background-attachment: fixed;
}